/* ==========================================
   SWIPER
========================================== */

html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

}

.swiper{

    width:100%;
    height:100vh;

}

.swiper-wrapper{

    width:100%;
    height:100%;

}

.swiper-slide{

    width:100%;
    height:100vh;

    position:relative;

    overflow:hidden;

}

/* Скрываем стандартные элементы */

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination{

    display:none;

}